<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Listen.moe</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#ec1a55">
    <meta name="description" content="Taking after late Giga's Grooveshark stream, we ensure to keep delivering the best Anime and Japanese music!">
    <meta name="keywords" content="anime,radio,music,japanese,stream">

    <link rel="apple-touch-icon" sizes="192x192" href="./images/favicon-192x192.png">
    <link rel="icon" sizes="16x16" href="./images/favicon-16x16.png">
    <link rel="icon" sizes="32x32" href="./images/favicon-32x32.png">
    <link rel="manifest" href="./manifest.json">

    <meta property="og:url" content="https://listen.moe">
    <meta property="og:type" content="website">
    <meta property="og:title" content="LISTEN.moe | The best Anime &amp; JPop music stream.">
    <meta property="og:description" content="Taking after late Giga's Grooveshark stream, we ensure to keep delivering the best Anime and Japanese music!">
    <meta property="og:image" content="/images/fb_share.jpg">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@LISTEN_moe">
    <meta name="twitter:creator" content="@LISTEN_moe">
    <meta name="twitter:title" content="LISTEN.moe | The best Anime &amp; JPop music stream.">
    <meta name="twitter:description" content="Taking after late Giga's Grooveshark stream, we ensure to keep delivering the best Anime and Japanese music!">
    <meta name="twitter:image" content="/images/fb_share.jpg">
    <link rel="preload" href="/OpenSans-Regular.ttf" as="font">
    <link rel="preload" href="/sw.js" as="script">
    <link rel="stylesheet" href="/main.css">
    <script defer src="/index.js"></script>
</head>
<body>
    <a href="/"><img src="/images/logo_big.webp" alt="Listen.moe logo" class="logo"></a>
    <nav>
        <ul>
            <li><a href="#">「forum</a></li>
            <li><a href="#">request a song</a></li>
            <li><a href="#">favorites</a></li>
            <li><a href="#">submit music!</a></li>
            <li><a href="#">donate」</a></li>
        </ul>
    </nav>
    <span class="listeners"></span>
    <audio src="/stream" controls></audio>
    <div class="controls" hidden>
        <!--<iron-icon icon="audio:play">audio:play</iron-icon>-->
        <div class="btn-container">
            <button class="play-pause" aria-label="play"><img src="/images/play.svg" alt="Play button image"></button>
        </div>
        <!--<div class="visual-song">
            <span id="song">hello</span>-->
            <canvas class="visualizer"></canvas>
        <!--</div>-->
        <!--<button class="history" aria-label="Show song history">history</button>-->
        <!--<input type="checkbox" class="favorite" name="favorite" aria-label="Favorite song">-->
        <!--<ocpu-slider min="0" max="100" step="1"></ocpu-slider>-->
        <input type="range" class="volume" name="volume" min="0" max="100" value="100" step="1" aria-label="volume">
        <div class="slider">
            <div class="lower"></div>
            <div class="thumb"></div>
            <div class="upper"></div>
        </div>
    </div>
</body>
</html>