@font-face {
    font-family: "Open Sans";
    src: url('/OpenSans-Regular.ttf')
}
* {
    color: #ec1a55;
}

html, body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: #1d1f2b;
    font: 14px "Open Sans", Helvetica, Arial, sans-serif;
    color: #fff;
}

a {
    text-decoration: none;
    font-size: 16px
}

body {
    background-image: url("/images/background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

nav > ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    flex-wrap: wrap;
}
nav > ul > li {
    margin: 0 10px;
    text-transform: uppercase; 
}

@media (max-width: 768px) {
    body, a {
        font-size: 22px
    }
    .logo {
        width: 80vw
    }
}

.play-pause {
    width: 50px;
    height: 50px;
    padding: 0;
    margin: 0;
    background: none;
    color: #fff;
    border: none;
    transform: translate(-2px, -2px);
}
.btn-container {
    flex-grow: 1;
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 0;
    margin: 0;
    border: 0;
    background: #ec1a55;
}
.listeners {
    color: #fff;
    text-transform: uppercase;
}
.visualizer {
    position: absolute;
    height: 50px;
    background: #1d1f2b;
    /*width: 100%;*/
    flex-grow: 5;
    /*flex: 2;*/
    /*transform:translate(-4px, 17px)*/
}
#song {
    position: absolute;
    color: #fff;
}
.controls {
    height: 50px;
    width: 60vw;
}
input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: #860A2D;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  border: 1px solid #000000;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: #ec1a55;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -9px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #860A2D;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: #ec1a55;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  border: 1px solid #000000;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: #ec1a55;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #ec1a55;
  border: 0.2px solid #000;
  border-radius: 5px;
}
input[type=range]::-ms-fill-upper {
  background: #860A2D;
  border: 0.2px solid #000;
  border-radius: 5px;
}
input[type=range]::-ms-thumb {
  border: 1px solid #000;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: #ec1a55;
  cursor: pointer;
  margin-top: -1px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #ec1a55;
}
input[type=range]:focus::-ms-fill-upper {
  background: #860A2D;
}
.visual-song {
    flex-basis: max-content;
    position: relative
}







.slider {
    width: 150px;
    height: 10px;
    background: lightblue;
}